:root {
    --blue-color :  #3E5ABE;
    --black-color : #272727;
    --white-color : #FFFFFF;
    --light-color : #565659;
    --background-color : #E2E4EE;
    --box-box-shadow : 0 0 10px 5px rgb(213, 211, 211, 0.3);
    --barlow-font : 'barlow',sans-serif;
    }
    body {
    font-size : 18px;
    overflow-x : hidden;
    background-attachment : scroll;
    font-family: var(--barlow-font);
    }
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight : bold;
    color : var(--black-color);
    }
    p {
    font-size : 18px;
    line-height : 22px;
    }
    h1, .h1 {
    font-size : 80px;
    line-height : 85px;
    }
    h2, .h2 {
    font-size : 60px;
    line-height : 67px;
    }
    h3, .h3 {
    font-size : 55px;
    line-height : 62px;
    }
    h4, .h4 {
    font-size : 35px;
    line-height : 42px;
    }
    h5, .h5 {
    font-size : 25px;
    line-height : 30px;
    }
    h3, .h3 {
    margin-bottom : 50px;
    }
    li {
    list-style : none;
    }
    a {
    text-decoration : none;
    line-height : 0;
    }
    .btn {
    font-weight : 500;
    background-color : var(--blue-color);
    color : var(--white-color);
    border-radius : 50px;
    padding : 13px 29px;
    font-size : 20px;
    line-height : 24px;
    transition : 0.4s ease-in-out;
    }
    .btn:hover {
    background-color: var(--blue-color);
    color : var(--white-color);
    opacity : 0.85;
    }
    section {
    padding-bottom : 100px;
    background-color : var(--background-color);
    }
    .heading {
    display : flex;
    justify-content : center;
    position : relative;
    }
    .heading::after {
    content : "";
    position : absolute;
    top : 33px;
    width : 177.74px;
    height : 50px;
    background-image : url(../img/saferater.png);
    background-repeat : no-repeat;
    background-size : auto;
    background-position : center;
    left : 20px;
    }
    header {
    width : 100%;
    }
    .hero .text {
    align-content : center;
    margin-bottom : 35px;
    }
    .navbar {
    padding : 19px 0 8px 0;
    }
    .section-hero .heading::after {
    left : 398px;
    top : 138px;
    }
    .section-hero .active {
    position : relative;
    font-weight : 600;
    }
    .section-hero .active::after {
    content : "";
    position : absolute;
    top : -16px;
    width : 100%;
    height : 50px;
    background-image : url(../img/saferater-smoll.png);
    background-repeat : no-repeat;
    background-size : auto;
    background-position : center;
    left : 9px;
    }
    .navbar .nav-item .nav-link {
    padding : 0 15px;
    }
    .section-hero .icons a {
    padding : 0 0 0 27px;
    }
    header .h1 {
    width : 532px;
    }
    header .hero .text p {
    margin : 22px 0 26px 0;
    width : 519px;
    }
    header .container .hero .man {
    position : relative;
    right : 220px;
    }
    .section-hero {
    padding-bottom : 0;
    background-color : var(--white-color);
    }
    .section-slider .container {
    margin-top : -40px;
    }
    .section-slider .img-back {
    background : url(../img/shape.png) center no-repeat;
    background-size : cover;
    height : 150px;
    width : 100%;
    position : relative;
    top : -90px;
    }
    .section-slider .row {
    padding : 28px 30px 0 30px;
    }
    .section-slider .box-one {
    background-color : var(--blue-color);
    border-radius : 30px;
    display : flex;
    height : 384px;
    }
    .section-slider .box-one .text {
    padding-left : 20px !important ;
    }
    .section-slider .box-one .cart-two {
    position : relative;
    left : 96%;
    }
    .cap-one :is(.swiper-button-next, .swiper-button-prev) {
    background-color : var(--background-color);
    top : 35%;
    width : 35px;
    height : 35px;
    border-radius : 50px;
    transition : opacity 0.3s ease, background-color 0.5s ease;
    }
    .cap-one :is(.swiper-button-next, .swiper-button-prev):hover {
    background-color : var(--white-color);
    }
    .cap-one :is(.swiper-button-next, .swiper-button-prev)::after {
    font-size : 16px;
    font-weight : 800;
    color : var(--blue-color);
    }
    .section-slider .box .cap-one {
    top : 29px;
    height : 394px;
    left : -20px;
    padding : 0;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left : var(--swiper-navigation-sides-offset, 0) !important ;
    right : auto;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right : var(--swiper-navigation-sides-offset, 0) !important ;
    left : auto;
    }
    .section-slider .box-one .text .Popular p {
    margin-right : 10px;
    font-size : 25px;
    margin-bottom : 0;
    }
    .section-slider .box-one .text .Popular {
    margin-bottom : 26px;
    margin-top : -10px;
    }
    .section-slider .box-one .performance p {
    font-weight : 500;
    font-size : 30px;
    margin-bottom : 9px;
    }
    .section-slider .box-one .text .rate p {
    font-size : 50px;
    margin-bottom : 16px;
    line-height : 60px;
    }
    .section-slider .box-one .text p span {
    text-decoration : line-through;
    margin : 0 0 9px 20px;
    line-height : 24px;
    font-size : 20px;
    }
    .section-slider .box-one .text .btn {
    background-color : var(--white-color);
    color : var(--black-color);
    }
    section :is(.section-slider .para, .section-caps .para, .section-t-shirt .para, .section-Fishing-Items .para) {
    margin-bottom : 26px;
    }
    section :is(.section-caps .row, .section-t-shirt .row, .section-Fishing-Items .row) {
    justify-content : center;
    gap : 29px;
    margin-bottom : 28px;
    }
    section :is(.section-caps .box, .section-t-shirt .box, .section-Fishing-Items .box) {
    width : 413px;
    padding : 28px 30px 30px 30px;
    border-radius : 30px;
    background-color : var(--white-color);
    }
    .price p {
    margin-bottom : 5px;
    }
    .price {
    display : flex;
    align-items : flex-end;
    justify-content : space-between;
    }
    .new-price {
    font-size : 30px;
    }
    .cut-price {
    font-size : 15px;
    text-decoration : line-through;
    }
    .row .box .price p {
    margin-bottom : 10px;
    }
    .section-caps .heading::after {
    left : 577px;
    top : 37px;
    }
    .section-caps .row .text {
    margin-top : -17px;
    }
    .section-caps .row .cap {
    position : relative;
    top : -30px;
    left : 16px;
    }
    .section-caps .row h5 {
    position : relative;
    margin-bottom : 13px;
    }
    .section-caps .price p {
    color : var(--white-color);
    }
    .section-caps .box-one {
    background-color : #4F6877 !important ;
    }
    .section-caps .box-two {
    background-color : #877C79 !important ;
    }
    .section-caps .box-three {
    background-color : #78695E !important ;
    }
    .section-caps .box-four {
    background-color : #7C8BC9 !important ;
    }
    .section-caps .box-five {
    background-color : #755357 !important ;
    }
    .section-caps .box-six {
    background-color : #605C78 !important ;
    }
    .section-t-shirt .heading::after {
    left : 607px;
    }
    .section-t-shirt .t-shirts .row .box .image .t {
    margin-bottom : 21px;
    }
    .section-Fishing-Items .heading::after {
    left : 679px;
    }
    .section-Fishing-Items .Fishing-Items .row .box .image .t {
    margin : 40px 0 21px 0;
    }
    .section-Fishing-Items .Fishing-Items .row .box .price p {
    position : relative;
    top : 5px;
    }
    .section-Our-Beginning .ba {
    background-color : #282D33;
    border-radius : 30px;
    padding : 50px 0;
    }
    .section-Our-Beginning {
    background-color : var(--background-color);
    padding-bottom : 0;
    margin-bottom : 100px;
    }
    .section-Our-Beginning .heading::after {
    left : 238px;
    top : 38px;
    }
    .section-Our-Beginning .container .row {
    align-items : center;
    }
    .section-Our-Beginning .container .row .left .h2 {
    margin-bottom : 30px;
    }
    .section-blog .heading::after {
    left : 569px;
    top : 33px;
    }
    .section-blog {
    background-color : var(--white-color);
    }
    .section-blog .container .row {
    display : flex;
    justify-content : center;
    gap : 31px;
    }
    .section-blog .container .blogs {
    width : 411px;
    border-radius : 30px;
    display : flex;
    justify-content : center;
    padding : 0;
    box-shadow: var(--box-box-shadow);
    }
    .section-blog .container .blogs .text {
    padding : 20px 30px 30px 30px;
    }
    .section-blog .container .blogs .text .first-blog {
    margin-bottom : 4px;
    }
    .section-blog .container .blogs .text p {
    margin-bottom : 17px;
    }
    .section-blog .container .blogs .text .fst-italic {
    color : var(--blue-color);
    font-size : 16px;
    }
    .section-blog .container .blogs .text .date {
    font-size : 14px;
    }
    .section-footer {
    padding : 46px 0 0 0;
    }
    .section-footer .container .main a {
    color : var(--light-color);
    }
    .section-footer .container .main ul {
    align-items : center;
    justify-content : center;
    margin-bottom : 26px;
    }
    .section-footer ul li a {
    transition : 0.3s ease-out;
    }
    .section-footer ul li a:hover {
    color : var(--blue-color) !important ;
    font-weight : 500;
    }
    .section-footer .container {
    justify-content : center;
    }
    .section-footer .container .main {
    align-content : center;
    justify-content : center;
    }
    .section-footer .container .main ul .point {
    width : 5px;
    height : 5px;
    border-radius : 10px;
    background-color : var(--light-color);
    margin : 2px 10px 0 10px;
    }
    .section-footer .input {
    background-color : var(--black-color);
    }
    .section-footer .container .main .follow {
    display : flex;
    align-items : center;
    justify-content : center;
    height : 45px;
    font-size : 18px;
    padding : 0 17px 0 17px;
    }
    .section-footer .container .main .follow img {
    margin-right : 10px;
    width : 21px;
    height : 18px;
    }
    .section-footer .container .main .i {
    transition : 0.3s ease-in-out;
    margin : 25px 8px;
    }
    .section-footer :is(.i, #btd):hover {
    opacity : 85%;
    }
    .section-footer .container .main .p {
    margin : 0 25px;
    }
    .section-footer .container form :focus {
    box-shadow : none;
    border : none;
    }
    .input-group {
    align-items : center;
    width : 470px;
    border-radius : 50px;
    }
    .section-footer .container form .form-control {
    height : 68px;
    padding-left : 20px;
    color : var(--white-color);
    border : none;
    z-index : 0;
    background-color : var(--black-color);
    }
    .section-footer .container form .form-control::placeholder {
    color : var(--white-color);
    font-weight : 500;
    font-size : 20px;
    }
    .section-footer .container form .btn {
    color : white;
    font-weight : 500;
    background-color : var(--blue-color);
    position : absolute !important ;
    left : 313px;
    z-index : 1;
    }
    .copyright {
    width : 100%;
    margin-top : 30px;
    border-top : 1px solid #D2D6E9;
    }
    .copyright p {
    padding : 15px 0 0 0;
    color : var(--light-color);
    }
    #btd {
    position : fixed;
    bottom : 20px;
    right : 20px;
    display : none;
    cursor : pointer;
    transition : 0.4s ease-in-out;
    }
    @media (max-width: 1399px) {
    .section-caps .heading::after {
    left : 487px;
    }
    .section-t-shirt .heading::after {
    left : 517px;
    }
    .section-Fishing-Items .heading::after {
    left : 590px;
    }
    .section-Our-Beginning .heading::after {
    left : 238px;
    }
    .section-blog .heading::after {
    left : 481px;
    }
    }
    @media (max-width: 1199px) {
    .section-hero .active::after {
    display : none;
    }
    .heading::after {
    display : none;
    }
    header .hero .text p {
    width : 429px;
    }
    h1, .h1 {
    font-size : 70px;
    line-height : 75px;
    }
    header .container .hero .man img {
    height : 500px;
    }
    .section-slider .box-one .performance p {
    font-size : 26px;
    line-height : 33px;
    }
    .section-slider .box-one .text .rate p {
    font-size : 45px;
    margin-bottom : 12px;
    line-height : 50px;
    }
    .section-slider .box-one {
    height : 366px;
    }
    }
    @media (max-width: 991px) {
    .navbar {
    padding : 19px 0 28px 0;
    }
    .navbar-nav {
    background-color : var(--blue-color);
    border-radius : 35px;
    padding : 20px;
    }
    .navbar .nav-item .nav-link {
    padding : 15px 15px;
    color : var(--white-color);
    }
    .icons {
    display : none;
    }
    header .hero .text {
    margin-bottom : 50px;
    }
    header .col-lg-6 {
    text-align : center;
    }
    header .h1 {
    font-size : 60px;
    line-height : 65px;
    width : 100%;
    }
    header .hero .text p {
    width : 100%;
    }
    header .container .hero .man {
    width : 100%;
    right : 0;
    }
    .section-slider .box-one {
    height : auto;
    padding-bottom : 30px;
    }
    .section-slider .box .cap-one {
    top : 0;
    height : 441px;
    left : 0;
    }
    .section-Our-Beginning .row .text .h2 {
    font-size : 50px;
    }
    .section-Our-Beginning .row .text .p-two {
    display : none;
    }
    }
    @media (max-width: 767px) {
    header .container .hero .man img {
    height : 363px;
    }
    .section-slider .box .cap-one {
    height : 302px;
    }
    .section-Our-Beginning .ba .row {
    text-align : center;
    }
    section {
    padding-bottom : 50px;
    }
    h3, .h3 {
    margin-bottom : 25px;
    }
    .section-Our-Beginning .container .row .left .h2 {
    margin-bottom : 15px;
    }
    }
    @media (max-width: 575px) {
    header .container .hero .man img {
    height : 163px;
    }
    .section-footer .container form .btn {
    position : static !important ;
    width : 100%;
    }
    .input-group {
    width : 300px;
    }
    .btn {
    font-size : 18px;
    line-height : 20px;
    }
    p {
    font-size : 16px;
    line-height : 20px;
    }
    .section-footer .container form .form-control::placeholder {
    color : var(--white-color);
    font-weight : 500;
    font-size : 18px;
    text-align : center;
    }
    .section-footer .container form .form-control {
    height : 62px;
    padding-left : 0;
    margin-bottom : 15px;
    }
    section :is(.section-caps .box, .section-t-shirt .box, .section-Fishing-Items .box) {
    width : 343px;
    padding : 18px;
    }
    .section-blog .blogs {
    width : 343px !important ;
    }
    .section-blog .col-4 {
    padding : 0;
    }
    .section-blog .container .blogs .text {
    padding : 18px;
    }
    .section-Our-Beginning .ba {
    padding : 20px 0;
    }
    #btd {
    display : none;
    }
    .copyright {
    width : 100%;
    margin-top : 0;
    border-top : 1px solid #D2D6E9;
    }
    .section-footer .container .main ul {
    text-align : center;
    }
    .section-footer .container .main .i {
    transition : 0.3s ease-in-out;
    margin : 17px 3px;
    }
    .icon {
    flex-direction : column;
    display : flex;
    justify-content : center;
    align-items : center;
    }
    .cap-one :is(.swiper-button-next, .swiper-button-prev) {
    top : 49%;
    width : 29px;
    height : 29px;
    }
    .section-slider .box .cap-one {
    height : auto;
    }
    .section-slider .box-one .text {
    padding-left : 0 !important ;
    }
    .section-slider .box-one {
    padding : 20px;
    }
    header .h1 {
    line-height : 60px;
    }
    }